html, body{
    padding:0;
    margin:0;
}

p {
    font-family: "JetbrainsMono", monospace;
}

ul {
    list-style: none;
}

li{
    display: inline;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    font-family: "JetbrainsMono", monospace;
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #000051;
}

h2{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #000051;
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 2.5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.logo_mark {
    width: .95rem;
    height: 100%;
    font-weight: 700;
}

.logo_cursor {
    display: inline-block;
    width: 10px;
    height: 2.4rem;
    background: #534bae;
    margin-left: 5px;
    border-radius: 1px;
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
}

.profile_picture{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.description{
    line-height: 1.618;
    font-size: 1.2rem;
    margin: 1rem;
    text-align: justify;
    text-justify: distribute;
}

.primary-anchor {
    color: #000;
    border-bottom: 2px solid #000;
    font-size: 1.2rem;
    margin: 2rem 1rem 3rem;
}

.secondary-anchor {
    color: #534bae;
    border-bottom: 2px solid #534bae;
}

.footer {
    color: #534bae;
}

@font-face{
    font-family: "JetbrainsMono";
    src: url('../fonts/JetBrainsMono-Regular.woff');
}

@font-face{
    font-family: "Poppins";
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}